# =============== #
# Unity generated #
# =============== #
/[Tt]emp/
/[Oo]bj/
/[Bb]uild
/[Bb]uild[s]
/[Ll]ibrary/
/Oculus_BackUpThisFolder_ButDontShipItWithYourGame/

sysinfo.txt
*.stackdump
UserSettings/
AssetImportWorker*
shadercompiler-AssetImportWorker*
shadercompiler-UnityShaderCompiler*
/Logs/ApiUpdaterCheck.txt
 
# =============== #
# Additional SDKs #
# =============== #
/Assets/VRTK/
/Assets/Oculus/
/Assets/OvrAvatar/
/Assets/Plugins/
/Assets/MetaSDK/
/Assets/Resources
/Assets/Resources.meta
/Assets/Mapbox/
/Assets/Mapbox.meta

# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# ================= #
# Serialized Fields #
# ================= #
/Assets/SerializedFields/
/Assets/StreamingAssets/
/Assets/StreamingAssets.meta

# =============== #
# Tilia (VRTK v4) #
# =============== #
/Assets/Samples
/Assets/Samples.meta
